html{
  animation: home .3s forwards;
  overflow-x: hidden;
}

@keyframes home{
  from{
    opacity: 0;
    transform: scale(1.5);
    /* transform: translate3d(0, -100px, 0); */
  }to{
    opacity: 1;
    transform: scale(1);
  }
}

.header{
  background-color: #00b8e2;
}
.submit-button{
  font-weight: bold;
  color: white;
  border: 1px solid white;
  transition: .5s;
}
.submit-button:hover{
  background: white;
  color: #00b8e2;
}
#donutchart{
  width: 500px;
  height:300px;
  max-width: 100%;
}